body{
  text-align:center;
  height: 100%;

}

.row{
  margin:15px;
}

.container{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.title-logo{
  font-size:80px;
  font-family:shadows into light;
}

.logo{
  width:120px;
}

.toppings{
  margin:10px;
}

/*.topping-title{
  font-size:20px;
}*/

.meat-text {
  fill: url("#p-meat");
  stroke: black;
  stroke-width: 7;
  stroke-opacity:.5;
}

  /* Other stuff */
html,

.content{
  stroke: black;
  stroke-width: 7;
  stroke-opacity:.5;
  font: 100 10em/1 Impact;
  margin:20px;
}


svg {
  width:120px;
  text-align:center;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
}

.veggie-text {
  fill: url("#p-veggie");
}

.other-text {
  fill: url("#p-other");
}







@media (max-width: 1000px){
  svg{
    width:90px;
  }
}
